*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
}

img.icon{
    /* height: 20px; */
    width: 10px;
    margin-right: 5px;
}

.card{
    width: 500px;
    border: 2px solid rgb(166, 166, 166);

    margin: 0 auto;
}

.card-header{
    background-color: rgb(59, 175, 193);
    height: 80px;
    position: relative;
}

.card-body{
    height: 180px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    left: 25px;
}

h2, h4, p, a{
    margin-bottom: 10px;
}

.imagen-usuario{
    width: 50px;
    border: 2px solid lightgray;
    border-radius: 50%; /* redondear, hace círculo perfecto con 50% */
    position: absolute;
    top: 45px;
    left: 25px;
}